/* General body styling */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Navbar styles */
.navbar {
  display: flex;
  background-color: #333;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}

.navbar a {
  color: white;
  background-color: #333;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 16px;
  text-align: center;
}

.navbar a:hover {
  background-color: #111;
}

/* Dropdown styles */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 14px 12px;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #111;
}

/* Typing animation styles */
.typing-animation {
  white-space: nowrap;
  overflow: hidden;
  border-right: 5px solid #a6e22e;
  width: 50%;
  max-width: 800px;
  margin: 20px auto;
  color: #a6e22e;
  font-family: "Monaco", monospace;
  font-size: 30px;
  text-align: center;
  animation: typing 4s steps(40), blink-caret 0.75s step-end infinite alternate;
}

@keyframes typing {
  from { width: 0; }
  to { width: 50%; }Welcome to Younes Mastour's 
}

@keyframes blink-caret {
  50% { border-color: transparent; }
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  .dropdown-content {
    position: static;
  }
}
