body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
* {
  border: none;
  outline: none;
}
header {
  border: none;
  margin: 0;
  padding: 0;
}
.typing-animation {
  white-space: nowrap;
  overflow: hidden;
  border-right: 5px solid;
  width: 64.5%;
  max-width: 800px;
  margin: 0 auto;
  font-family: inherit;
  animation: 
    typing 2.6s steps(34), 
    blink-caret 0.75s step-end infinite alternate;
}

@keyframes typing {
  from { width: 0; }
  to { width: 64.5%; }
}

@keyframes blink-caret {
  50% { border-color: transparent; }
}

@media (max-width: 768px) {
  .typing-animation {
    animation: none;
    border: none;
    width: 100%;
  }
}
