<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <style>
    /* General body styling */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    /* Navbar styling */
    .navbar {
      display: flex;
      background-color: #333;
      padding: 0;
      margin: 0;
      align-items: center;
      justify-content: space-around;
    }

    .navbar button,
    .navbar a {
      color: white;
      background-color: #333;
      border: none;
      padding: 14px 16px;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
    }

    .navbar button:hover,
    .navbar a:hover,
    .dropdown-content a:hover {
      background-color: #111;
    }

    /* Dropdown styling */
    .dropdown {
      position: relative;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      top: 100
